<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm h-100 overflow-auto">
            <app-list [disabled]="!!selectedProductId || !!(addFlag$ | async)" [(selectedItemId)]="selectedProductId"></app-list>
        </div>
        <button type="button" class="btn btn-success" [disabled]="selectedProductId" (click)="addButtonClicked()">Добавить товар</button>

        <div class="col-sm d-flex justify-content-center align-items-center">
            <app-creation-form
                *ngIf="addFlag$ | async"
                (close)="addFormClosed()"
            ></app-creation-form>
            <app-editing-form
                *ngIf="selectedProductId"
                [editingProductId]="selectedProductId"
                (close)="editFormClosed()"
            ></app-editing-form>
        </div>
    </div>
</div>
